@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .bigContainer {
    @apply max-w-[1440px] h-fit py-24 px-20 bg-red-200;
  }
  .smallContainer {
    @apply px-8;
  }
}
