@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
  p {
    @apply text-gray-600;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .tagStyle {
    @apply bg-gray-200 rounded-xl w-fit px-5 py-1 m-auto;
  }
  .tagContainer {
    @apply m-auto flex flex-col gap-4;
  }
  .bigContainer {
    @apply xl:max-w-[1440px] xl:px-[112px] xl:py-[96px] xl:m-auto;
  }
}
